
body{
    color: aliceblue;
    background-color: rgb(51, 8, 61);
    /* display: flex;
    justify-content: right;
    align-items: center; */
    box-sizing:border-box ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px;
    cursor: pointer;
}
.btnn{
    display: flex;
    justify-content: flex-end;
}
.btn{
    cursor: pointer;
    /* color: white;
    background-color: transparent; */
    height: 40px;
    width: 100px;
    border: 2px solid white;
    margin-right: 15px;
}
.LOGO{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 1px;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
}
.floral{
    font-size: 20px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbarmid ul {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    list-style: none;
}
.navbarmid ul li a{
    text-decoration: none;
    color: white;
}
.home{
    height: 636px;
    width: 1465px;
    background-color: rgba(213, 218, 225, 0.851);
    display: flex;
    justify-content: space-evenly;
    font-family: Tahoma, sans-serif;
}
.home .left{
    font-size: 60px;
    color: rgb(51, 8, 61) ;
    padding: 130px 50px;
}
.home .right{
    display: flex;
}
.home .text{
    font-size: 17px;  
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.home .content{
    font-size: 25px;
    padding-left: 55px;
}
.home .btn2{
    cursor: pointer;
    background-color: transparent;
    /* height: 40px;
    width: 100px;  */
    border: none;
    padding-left: 250px;
    font-size: 20px;
}
.h2{
    align-content: center;
}
.articles{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 40px;
}
.img{
    height: 250px;
    width: 300px;
}
.box{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgb(22, 131, 227);
}
h3{
    padding-left: 80px;
}
.cnt2{
    display: flex;
    justify-content: space-between;
}
.flowers{
    display: flex;
}
.images{
    display: flex;
    justify-content: space-evenly;
 
    
  
}
.image{
       height: 250px;
    width: 300px;
      border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgba(255, 255, 255, 0.466);
}
.flex{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    padding-bottom: 30px;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.clip{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75% , 50% 100%, 0% 75% ,0% 25%);
    padding: 0px 10px;
    transition: all 2s; 
    cursor: pointer;
}
.clip:hover{
    z-index: 1;
    transform: scale(1.2);
}
